*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.about__header img{
    width: 1260px;
    padding-left: 9px;
}
.center{
    position: absolute;
    text-align: center;
    padding-bottom: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.about{
    font-size: 23px;
    color: rgb(250, 250, 250);
    font-weight: 300;
    padding-bottom: 10px;
}
.para{
    font-size: 12px;
}
.target{
    padding: 75px 100px;
    justify-content: center;
    text-align: center;
}
.target2{
    padding: 100px 75px;
    justify-content: center;
    text-align: center;
}
