*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.blog__header{
    margin-left: 0.7%;
}
.blogtop{
    padding-bottom: 1%;
    margin-left: 0%;
    margin-right: 20%;
}
.blog__cards1{
    padding-top: 6%;
    padding-bottom: 5%;
    margin-left: 20%;
    margin-right: 20%;
}
.blog__cards2{
    padding-top: 0%;
    padding-bottom: 5%;
    margin-left: 20%;
    margin-right: 20%;
}
