@import "../../custom.scss";

.bg-picture-jobseeker {
  background: url(./../../assets/homepageJobseeker/jumbotron-bg-pic-Jobseeker.png);
  background-size: contain;
}
.jumbotronSection {
  width: 90vw;
}
.srearch-card {
  width: 100%;
  background-color: $primary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5em 3em;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-bottom: 0rem !important;
}
.section-heading {
  text-align: center;
  font-size: $heading-font-size !important;
  color: $dark !important;
}
.section-icons {
  width: 90%;
  padding: 3em 2em;
}
.imgCard .overLay {
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center !important;
  align-items: center !important;
}
.imgCard:hover .overLay {
  display: flex;
}
.section-heading-hiring {
  text-align: center;
  font-size: $heading-font-size !important;
  color: $dark !important;
  font-weight: 600;
}
.icon {
  display: flex;
  flex-direction: column;
}
.icon img {
  width: 150px;
  height: 150px;
}
.icon-info {
  font-size: $normal-font-size + 2px !important;
  color: $dark !important;
  padding: 1em;
  font-weight: 600;
  width: 300px;
}
@media (max-width: 1250px) {
  .bg-picture-Jobseeker {
    background-size: cover;
    background-position: center;
  }
}
@media (max-width: 900px) {
  .jumbotronSection {
    width: 100%;
  }
  .section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .srearch-card {
    flex-direction: column;
  }
}
