@import "../../custom.scss";

.container__row {
  display: flex;
}
.card__title {
  font-size: $heading-font-size + 2px;
}
.card__body .card__overlay {
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
}
.card__body:hover .card__overlay {
  background-color: rgba(0, 39, 38, 0.8) !important;
}
.card__body:hover .card__title {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 900px) {
  .container__row {
    flex-direction: column;
  }
}
