@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap");

$primary: #eeeeee;
$font-color: #303030;
$dark: #15878c;
$heading-font-size: 25px;
$normal-font-size: 17px;

body {
  font-family: "Raleway", sans-serif;
}
p {
  color: $primary;
  font-size: $normal-font-size + 2px;
}
.nav__link {
  color: $font-color !important;
  font-weight: 400 !important;
  font-size: $normal-font-size !important;
}
.nav__link:hover {
  color: $dark !important;
}
.footer {
  width: 100vw;
  background-color: $primary;
  padding: 3rem 0rem;
}
.footer .nav__link {
  padding: 0.1em 0.5em !important;
}
.signup-btn {
  padding: 1em;
  border: 1px solid $primary !important;
  width: fit-content;
  background-color: transparent;
  color: $primary;
  border-radius: 5px;
  font-weight: 600;
}
.signup-btn:hover {
  background-color: $primary;
  color: $dark;
}

@import "~bootstrap/scss/bootstrap";
