@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap");

$primary: #eeeeee;
$font-color: #303030;
$dark: #0098a0;
$heading-font-size: 25px;
$normal-font-size: 17px;

body {
  font-family: "Raleway", sans-serif;
}
p {
  color: $primary;
  font-size: $normal-font-size + 2px;
}

.nav__link {
  color: $font-color !important;
  font-weight: 400 !important;
  font-size: $normal-font-size !important;
}
.nav__link:hover {
  color: $dark !important;
}
.footer {
  width: 100vw;
  background-color: $primary;
  padding: 1.5rem 0rem;
}
.footer .nav__link {
  padding: 0.1em 0.5em !important;
}
.bg-picture {
  background: url(./assets/homepageCompany/jumbotron-bg-pic.png), no-repeat;
  background-size: cover;
}
.jumbotronSection {
  width: 90vw;
}
.srearch-card {
  width: 100%;
  background-color: $primary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5em 3em;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-bottom: 0rem !important;
}
.section-heading {
  text-align: center;
  font-size: $heading-font-size !important;
  color: $dark !important;
}
.section-icons {
  width: 90%;
  padding: 3em 2em;
}
.imgCard .overLay {
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center !important;
  align-items: center !important;
}
.imgCard:hover .overLay {
  display: flex;
}
.section-heading-hiring {
  text-align: center;
  font-size: $heading-font-size !important;
  color: $dark !important;
  font-weight: 600;
}
.icon {
  display: flex;
  flex-direction: column;
}
.icon img {
  width: 150px;
  height: 150px;
}
.icon-info {
  font-size: $normal-font-size + 2px !important;
  color: $dark !important;
  padding: 1em;
  font-weight: 600;
  width: 300px;
}
.decision-section {
  width: 100%;
  background: linear-gradient(45deg, #071e2e, #324552, #091f2f);
  min-height: 460px;
  display: flex;
  align-items: center;
}
.motivation-section {
  width: 100%;
  min-height: 460px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stories-section {
  width: 100%;
  min-height: 500px;
  position: relative;
}
.absoluteOverlay {
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-title {
  position: relative;
}
.imageAbsolute {
  position: absolute;
  top: -50px;
  left: -50px;
  width: 70px;
  height: 70px;
}
@media (max-width: 900px) {
  .jumbotronSection {
    width: 100%;
  }
  .section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .srearch-card {
    flex-direction: column;
  }
}

@import "~bootstrap/scss/bootstrap";
